<!DOCTYPE html>
<html>
    
    <head>
        
        
    </head>
    
    <body>
        <!--These variables come fromt he contact_mailer.rb file that we defined earlier -->
        <p>You have recieved a messge frmot he site's contac form, from <%= "#{ @name }, #{ @email }, #{@email }." %></p>
        <p> <%= @body %> </p>
    </body>
    
    
    
    
</html>